/*------- certif -----------*/

#certif {
    background: var(--background-element);
    border-bottom: 5vh solid var(--background-element) ;
}
#certif .card{


    width: 100%;
  max-width: 25rem;
  margin: 1rem auto;
  border-radius: 50px;
  background: linear-gradient(
    145deg,
    var(--neo-backgrounf-1),
    var(--neo-backgrounf-2)
  );
  box-shadow: 20px 20px 60px var(--neo-shadow-1),
              -20px -20px 60px var(--neo-shadow-2);

}
#certif .card .card-subtitle{
    color: var(--text);
    font-style: italic;
}

#certif .card img{
    width: 80px;
    height: 80px;
}
