/*------- certif -----------*/

#certif {
    background: var(--background-element);
    border-bottom: 5vh solid var(--background-element) ;
}
#certif .card{


    /*    border-radius: 15px;*/
    width: 25rem;
    margin: 10px;
    margin-right:  10px;
    /*    background: var(--background-element);
        background: var(--background);
        box-shadow: 5px 5px 10px #E3EAEF, -5px -5px 10px #FAFDFF;  white : #FAFDFF blue plus sombre : #E3EAEF*/
    border-radius: 50px;
    background: linear-gradient(145deg, var(--neo-backgrounf-1), var(--neo-backgrounf-2));
    box-shadow:  20px 20px 60px var(--neo-shadow-1),
        -20px -20px 60px var(--neo-shadow-2);

}
#certif .card .card-subtitle{
    color: var(--text);
    font-style: italic;
}

#certif .card img{
    width: 80px;
    height: 80px;
}
