/* ---------- NAVBAR ---------- */

.navbar {
    background: var(--background);
}

nav img {
    height: 64px;
    width: auto;
}

.navbar .nav-link {
    font-size: 18px;
    font-weight: 500;
    color: var(--text);
    position: relative;
    transition: color 0.2s;
}

.navbar .nav-link:hover {
    color: var(--text-strong);
}

.navbar .nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px;
    width: 0;
    height: 3px;
    background: var(--nav-btn-hover);
    transition: 0.3s;
    transform: translateX(-50%);
}

.navbar .nav-link:hover::after {
    width: 60%;
}

/* ---------- SWITCH ---------- */

.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    --size-of-icon: 1.4em;
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    content: "";
    position: absolute;
    height: var(--size-of-icon);
    width: var(--size-of-icon);
    border-radius: 20px;
    left: var(--slider-offset);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    transition: .4s;
}

input:checked + .slider {
    background-color: #303136;
}

input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon) + var(--slider-offset)));
    background: #303136;
    box-shadow: inset -3px -2px 5px -2px #8983f7,
                inset -10px -4px 0 0 #a3dafb;
}
