/*------ parcours -----*/
.parcours{
    /*        display: flex;
        justify-content: center;
        align-items: center;*/
    background-color: var(--background-element);
    border-bottom: 5vh solid var(--background-element) ;
}

.parcours .card{
    /* width: 100%; */
    width: 20rem;
    /*    background-color: var(--background);  --text-strong*/
    background: linear-gradient(145deg, var(--neo-backgrounf-1), var(--neo-backgrounf-2));
    box-shadow:  20px 20px 60px var(--neo-shadow-1),
        -20px -20px 60px var(--neo-shadow-2);
    border-bottom: 5vh;
    border-top: 5vh;
}
.parcours .card .card-content{
    color: var(--text);
}
.parcours .card .card-content .table{
    color: var(--text);
    background: none;
}
.parcours .table{
    color: var(--text);
    background: none;
}
.parcours .card .card-body a{
    color: var(--background-btn-hover);
}