/* --------stage --------*/
.stage {
    background-color: var(--background);
}
/* width: 190px;
 height: 254px;*/

.stage .card {
    /*    width: 220px;
        height: 284px;*/
    border-radius: 20px;
    background: linear-gradient(145deg, var(--neoe-backgrounf-1), var(--neoe-backgrounf-2));
    box-shadow:  20px 20px 60px var(--neoe-shadow-1),
        -20px -20px 60px var(--neoe-shadow-2);
    position: relative;
    padding: 1.8rem;
    border: 2px solid var(--background-element);
    transition: 0.5s ease-out;
    overflow: visible;
    cursor: pointer;
    color: var(--text);
}

.stage .card-details {
    color: var(--text);
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
}

.stage .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

#stage .text-body {
    color: var(--text) !important;
}


/*Text*/
.stage .text-title {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--title);
}

/*Hover*/
.stage .card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.stage .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}

.stage .col-xs-12{
    margin-top: 10vh; /* Ajoutez l'espacement souhaité*/
    margin-bottom: 10vh; /* Ajoutez l'espacement souhaité */
}
/*Bouton projet */
.stage .modal .modal-body button {
    padding: 8.5px 20px;
    border: 0;
    border-radius: 100px;
    background-color: var(--background-btn);
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.stage .modal .modal-body button:hover {
    background-color: var(--background-btn-hover);
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}

.stage .modal .modal-body button:active {
    background-color: var(--background-btn-hover);
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}


/*Bouton projet long */
.stage #btnCompare a button {
    padding: 8.5px 20px;
    border: 0;
    border-radius: 100px;
    background-color: var(--background-btn);
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    width: 100vh;
    margin-top: 25px;
}

.stage #btnCompare a button:hover {
    background-color: var(--background-btn-hover);
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}

.stage #btnCompare a button:active {
    background-color: var(--background-btn-hover);
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

