.vitrine{
 

      display: flex;
  align-items: center; /* OK */
  background-color: var(--background);

  min-height: 100vh;   /* IMPORTANT */
  padding-top: 6rem;
  padding-bottom: 6rem;
}

@media (min-width: 992px) {
  .vitrine {
    padding-top: 6.5rem; /* navbar desktop */
  }
}
.profil-area{
    padding: 80px 0;
}
/* .vitrine {
  padding: 6rem 0;
} */

/* .vitrine .card img {
  max-height: 80px;
  object-fit: contain;
}

.vitrine .card-head {
  position: absolute;
  top: 10px;
  left: 10px;
} */

.vitrine .card-vitrine {
  background: var(--background-element);
  border-radius: 20px;
  padding: 1.5rem;
  text-align: center;
}

.vitrine .card-vitrine img {
  max-height: 80px;
  object-fit: contain;
}