.vitrine{
    display: flex;
    justify-content: center; /*centre horizontalement*/
    align-items: center; /*centre Veticallemnt*/
    /*    border: 5px solid #555; */
    height: 100vh; /* la div prend la taille de l'affichage ' */
    /*    background-image: url('img/backVitrine3.jpg');
        background-size: 100%;*/
    background-color: var(--background);
}

.profil-area{
    padding: 80px 0;
}
/* .vitrine {
  padding: 6rem 0;
} */

/* .vitrine .card img {
  max-height: 80px;
  object-fit: contain;
}

.vitrine .card-head {
  position: absolute;
  top: 10px;
  left: 10px;
} */

.vitrine .card-vitrine {
  background: var(--background-element);
  border-radius: 20px;
  padding: 1.5rem;
  text-align: center;
}

.vitrine .card-vitrine img {
  max-height: 80px;
  object-fit: contain;
}